@model IEnumerable<Data.Produto>

<p>
    <a href="~/Produto/Create" class="btn btn-success">Cadastro</a>
</p>
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Nome
        </th>
        <th>
            Valor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_categoria.Cat_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Pro_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Pro_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Pro_id })
        </td>
    </tr>
}

</table>
