@model Data.Usuario

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usu_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usu_login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usu_senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usu_senha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Usu_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
