@model IEnumerable<Data.Usuario>

<p>
    <a href="~/Usuario/Create" class="btn btn-success">Cadastro</a>
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            CPF
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usu_login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usu_cpf)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Usu_id }) |
            @Html.ActionLink("Visualizar", "Details", new { id=item.Usu_id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.Usu_id })
        </td>
    </tr>
}

</table>


<script>

</script>